@font-face {
  font-family: "Pangolin";
  src: url("./fonts/Pangolin-Regular.ttf");
}

:root {
  --palette-1: #fcc6ff;
  --palette-2: #ffe6c9;
  --palette-3: #ffc785;
  --palette-4: #ffa09b;
  --palette-5: #f8edeb;
}

body {
  background-color: var(--palette-5);
  font-family: "Pangolin", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Letter section */

#section-ily {
  height: 100vh;
  padding: 20px 0;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.ily-line {
  height: 25%;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ily-line > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5em;
}

.ily-scroll-forward {
  display: flex;
  white-space: nowrap;
  height: 100%;
  animation: marquee-forward 60s linear infinite;
}

.ily-scroll-forward > span {
  color: var(--palette-1);
  opacity: 0.5;
  display: inline-block;
  padding-right: 50px;
}

.ily-scroll-backward {
  display: flex;
  white-space: nowrap;
  height: 100%;
  animation: marquee-backward 60s linear infinite;
}

.ily-scroll-backward > span {
  color: var(--palette-1);
  opacity: 0.5;
  display: inline-block;
  padding-left: 50px;
}

@keyframes marquee-forward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-backward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

#ily-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  z-index: 10;
  /* border-radius: 12px; */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* overflow: hidden; */
}

#ily-letter .envelope-wrap {
  width: 100%;
  height: 100%;
}

#ily-letter .envelope {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 100px solid #edede9;
}

#ily-letter .lid {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #f2e9e4;
  z-index: 10;
  transform-origin: top;
}

#ily-letter .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ily-letter .heart img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

#ily-letter .heart span {
  position: absolute;
  color: #ffffff;
}

.open .lid {
  transform: rotateX(180deg);
  transition: transform 0.5s ease, z-index 0.6s;
}

.closed .lid {
  transform: rotateX(0deg);
  transition: transform 0.5s 0.5s ease, z-index 1s;
}

.open div.heart {
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.closed div.heart {
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s 0.5s ease;
}

#ily-letter .letter {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
  background-color: #f2e9e4;
  border-radius: 12px;
  border-color: var(--palette-1);
  border-width: 2px;
  border-style: solid;
  padding: 12px;
  z-index: 20;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#ily-letter .letter * {
  margin: 0;
  padding: 0;
  width: 100%;
  word-wrap: normal;
  word-break: normal;
  white-space: pre-wrap;
}

.closed .letter {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.open .letter {
  opacity: 1;
  transition: opacity 0.5s 0.5s ease;
}

.letter > p {
  font-size: 1.5em;
}

/* Images section */

#section-images {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#section-images > h1 {
  color: var(--palette-1);
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #000000;
}

.images-grid {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.grid-column {
  flex: 24%;
  max-width: 24%;
}

.grid-column > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

@media screen and (max-width: 800px) {
  .grid-column {
    flex: 49%;
    max-width: 49%;
  }
}

/* button section */
#section-button {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background-heart.jpg");
}

#section-button h2 {
  font-size: 2em;
  color: var(--palette-4);
}

#section-button button {
  font-family: "Pangolin", sans-serif;
  font-size: 2em;
  color: white;
  background-color: var(--palette-4);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#section-button button:hover {
  background-color: var(--palette-3);
  transition: background-color 0.5s ease;
}

/* Days counter section */
#section-counter {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--palette-4);
}

#section-counter > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-counter h1 {
  font-size: 3em;
}

#counter-tiles {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#counter-tiles li {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  font-size: 2em;
}

#counter-tiles li > b {
  font-size: 2.5em;
}
